#define PS2CC_DLG 1000
#define PS2CC_TABCTRL 1001
#define NTPB_STATUS_BAR 1002
#define DUMPSTATE_PRB 1003
#define SEARCH_DLG 1100
#define SEARCH_GRP1 1101
#define SEARCH_SIZE_GRP 1114
#define COMPARE_TO_GRP 1116
#define SEARCH_AREA_GRP 1118
#define EX_SEARCH_GRP 1125
#define SEARCH_HISTORY_GRP 1129
#define QUICK_SEARCH_LBL 1102
#define QS_INIT_CMD 1103
#define QS_EQUAL_CMD 1104
#define QS_NEQUAL_CMD 1105
#define QS_GREATER_CMD 1106
#define QS_LESS_CMD 1107
#define QS_KNOWN_CMD 1108
#define SEARCH_TYPE_CMB 1109
#define SEARCH_VALUE1_TXT 1110
#define SEARCH_VALUE2_TXT 1111
#define SEARCH_DASH_LBL 1112
#define SEARCH_VALUES_LBL 1113
#define SEARCH_SIZE_CMB 1115
#define COMPARE_TO_CMB 1117
#define SEARCH_AREA_CMB 1119
#define SEARCH_AREA_LOW_TXT 1120
#define SEARCH_AREA_HIGH_TXT 1121
#define SEARCH_AREA_LBL 1122
#define DO_SEARCH_CMD 1123
#define TAKE_DUMP_CMD 1124
#define SEARCH_SIGNED_CHK 1126
#define EX_SEARCH_LSV 1127
#define EX_FILTER_CMD 1128
#define SEARCH_HISTORY_TXT 1130
#define EX_VALUE_TXT 1131
#define PS2_WAITS_CHK 1132
#define SETTINGS_DLG 1200
#define IP_ADDR_TXT 1202
#define SET_OPTIONS_CMD 1203
#define TEST_IP_CMD 1204
#define IP_CONFIG_GRP 1205
#define DUMP_DIR_GRP 1206
#define DUMP_DIR_TXT 1207
#define SET_DUMP_DIR_CMD 1208
#define SEARCH_ACCESS_GRP 1201
#define SEARCH_ACCESS_ARRAY_OPT 1209
#define SEARCH_ACCESS_FILE_OPT 1210
#define RESULTS_PAGE_SIZE_GRP 1211
#define RESULTS_PAGE_SIZE_TXT 1212
#define RESULTS_PAGE_SIZE_LBL 1213
#define RESULTS_PAGE_MAX_GRP 1214
#define RESULTS_PAGE_MAX_TXT 1215
#define RESULTS_PAGE_MAX_LBL 1216
#define RESULTS_DLG 1300
#define RESULTS_LIST_GRP 1301
#define ACTIVE_CODES_GRP 1307
#define RESULTS_LSV 1302
#define RESULTS_PAGE_LBL 1303
#define ACTIVE_CODES_LSV 1308
#define ACTIVE_RES_ADDR_TXT 1309
#define ACTIVE_RES_VALUE_TXT 1310
#define ACTIVE_RES_SIZE_CMB 1311
#define ACTIVE_RES_ADDR_LBL 1312
#define ACTIVE_RES_VALUE_LBL 1313
#define ACTIVE_RES_SIZE_LBL 1314
#define RES_WRITE_ONCE_CMD 1315
#define RES_ACTIVATE_CMD 1316
#define RES_DEL_ACTIVE_CMD 1317
#define RES_ALL_ON_CMD 1318
#define RES_ALL_OFF_CMD 1319
#define RES_CLEAR_ALL_CMD 1320
#define RESULTS_PAGE_CMB 1304
#define ACTIVE_RES_EDIT_TXT 1305
#define RESULTS_SEACH_NUM_LBL 1306
#define RESULTS_SEARCH_NUM_CMB 1321

PS2CC_DLG DIALOGEX 4,4,407,294
CAPTION "PS2CC Rev 0"
FONT 10,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX
BEGIN
  CONTROL "",PS2CC_TABCTRL,"SysTabControl32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|TCS_FOCUSNEVER,0,9,407,266
  CONTROL "",NTPB_STATUS_BAR,"msctls_statusbar32",WS_CHILD|WS_VISIBLE|CCS_BOTTOM,0,284,407,9
  CONTROL "",DUMPSTATE_PRB,"msctls_progress32",WS_CHILD|WS_VISIBLE,0,273,407,11
END

SEARCH_DLG DIALOGEX 4,4,404,247
FONT 10,"MS Sans Serif",0,0,0
STYLE WS_CHILDWINDOW|WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "Search Type",SEARCH_GRP1,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,4,4,190,60
  CONTROL "Quick:",QUICK_SEARCH_LBL,"Static",WS_CHILD|WS_VISIBLE,58,13,18,8
  CONTROL "Init",QS_INIT_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,78,12,16,10
  CONTROL "==",QS_EQUAL_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,97,12,16,10
  CONTROL "!=",QS_NEQUAL_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,116,12,16,10
  CONTROL ">",QS_GREATER_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,135,12,16,10
  CONTROL "<",QS_LESS_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,154,12,16,10
  CONTROL "#",QS_KNOWN_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,174,12,16,10
  CONTROL "",SEARCH_TYPE_CMB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_HASSTRINGS|CBS_AUTOHSCROLL|CBS_DROPDOWNLIST,15,25,174,133
  CONTROL "",SEARCH_VALUE1_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,40,48,67,10,WS_EX_CLIENTEDGE
  CONTROL "",SEARCH_VALUE2_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,120,48,67,10,WS_EX_CLIENTEDGE
  CONTROL "-",SEARCH_DASH_LBL,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,108,49,10,6
  CONTROL "Value(s):",SEARCH_VALUES_LBL,"Static",WS_CHILD|WS_VISIBLE,14,48,28,8
  CONTROL "Search Size",SEARCH_SIZE_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,315,4,72,29
  CONTROL "",SEARCH_SIZE_CMB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,320,13,61,54
  CONTROL "Compare To",COMPARE_TO_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,315,36,72,29
  CONTROL "",COMPARE_TO_CMB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_HASSTRINGS|CBS_AUTOHSCROLL|CBS_DROPDOWNLIST,319,46,65,60
  CONTROL "Search Area",SEARCH_AREA_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,204,24,97,41
  CONTROL "",SEARCH_AREA_CMB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,217,34,77,60
  CONTROL "",SEARCH_AREA_LOW_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,217,49,34,10,WS_EX_CLIENTEDGE
  CONTROL "",SEARCH_AREA_HIGH_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,260,49,34,10,WS_EX_CLIENTEDGE
  CONTROL "-",SEARCH_AREA_LBL,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,252,50,7,6
  CONTROL "Search",DO_SEARCH_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,211,0,35,8
  CONTROL "Dump Only",TAKE_DUMP_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,266,10,34,8
  CONTROL "Extended Search Options",EX_SEARCH_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,4,68,383,82
  CONTROL "Signed",SEARCH_SIGNED_CHK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,15,37,40,8
  CONTROL "",EX_SEARCH_LSV,"SysListView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LVS_REPORT,9,78,373,67,WS_EX_CLIENTEDGE
  CONTROL "Filter w/EX",EX_FILTER_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,211,10,34,8
  CONTROL "Search History",SEARCH_HISTORY_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,4,154,383,84
  CONTROL "",SEARCH_HISTORY_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP|ES_READONLY|ES_MULTILINE,9,164,373,67,WS_EX_CLIENTEDGE
  CONTROL "",EX_VALUE_TXT,"Edit",NOT WS_VISIBLE|WS_CHILD,199,94,38,10,WS_EX_CLIENTEDGE
  CONTROL "PS2 Waits",PS2_WAITS_CHK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,258,1,42,8
END

SETTINGS_DLG DIALOGEX 4,4,406,267
CAPTION "Settings"
FONT 10,"MS Sans Serif",400,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "",IP_ADDR_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,13,15,60,11,WS_EX_CLIENTEDGE
  CONTROL "Set",SET_OPTIONS_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,193,154,32,11
  CONTROL "Test",TEST_IP_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,79,15,30,11
  CONTROL "PS2 IP",IP_CONFIG_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,3,3,114,47
  CONTROL "Search Temp Folder (Dumps, Results, etc)",DUMP_DIR_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,123,3,277,47
  CONTROL "",DUMP_DIR_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,130,24,234,10,WS_EX_CLIENTEDGE
  CONTROL "Choose",SET_DUMP_DIR_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,366,24,26,10
  CONTROL "Search Access Type",SEARCH_ACCESS_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,4,55,127,41
  CONTROL "Load Full Dumps (Faster)",SEARCH_ACCESS_ARRAY_OPT,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,14,68,106,8
  CONTROL "File Handles Only (Less RAM)",SEARCH_ACCESS_FILE_OPT,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,14,79,109,8
  CONTROL "Results List Page Size",RESULTS_PAGE_SIZE_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,139,55,74,41
  CONTROL "",RESULTS_PAGE_SIZE_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,158,68,36,10,WS_EX_CLIENTEDGE
  CONTROL "(0 = Visible Area Only)",RESULTS_PAGE_SIZE_LBL,"Static",WS_CHILD|WS_VISIBLE,142,84,67,8
  CONTROL "Max Results Pages",RESULTS_PAGE_MAX_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,220,55,65,41
  CONTROL "",RESULTS_PAGE_MAX_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,238,68,29,10,WS_EX_CLIENTEDGE
  CONTROL "(1-1000)",RESULTS_PAGE_MAX_LBL,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,236,84,34,7
END

RESULTS_DLG DIALOGEX 4,4,404,247
FONT 10,"MS Sans Serif",400,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "Results",RESULTS_LIST_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,7,2,263,234
  CONTROL "",RESULTS_LSV,"SysListView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LVS_REPORT,13,12,252,209,WS_EX_CLIENTEDGE
  CONTROL "Page #",RESULTS_PAGE_LBL,"Static",WS_CHILD|WS_VISIBLE,199,223,26,11
  CONTROL "Active Codes",ACTIVE_CODES_GRP,"Button",WS_CHILD|WS_VISIBLE|BS_GROUPBOX,276,2,120,163
  CONTROL "",ACTIVE_CODES_LSV,"SysListView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LVS_REPORT,280,13,110,146,WS_EX_CLIENTEDGE
  CONTROL "",ACTIVE_RES_ADDR_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,276,177,38,10,WS_EX_CLIENTEDGE
  CONTROL "",ACTIVE_RES_VALUE_TXT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,320,177,37,10,WS_EX_CLIENTEDGE
  CONTROL "",ACTIVE_RES_SIZE_CMB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,362,177,34,54
  CONTROL "Address",ACTIVE_RES_ADDR_LBL,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,276,169,38,7
  CONTROL "Value",ACTIVE_RES_VALUE_LBL,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,320,169,37,8
  CONTROL "Size",ACTIVE_RES_SIZE_LBL,"Static",WS_CHILD|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,362,169,32,7
  CONTROL "Write Once",RES_WRITE_ONCE_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,276,195,38,8
  CONTROL "Activate",RES_ACTIVATE_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,320,195,38,8
  CONTROL "Delete",RES_DEL_ACTIVE_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,363,195,32,8
  CONTROL "All On",RES_ALL_ON_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,276,208,38,8
  CONTROL "All Off",RES_ALL_OFF_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,320,208,38,8
  CONTROL "Clear All",RES_CLEAR_ALL_CMD,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,363,208,32,8
  CONTROL "",RESULTS_PAGE_CMB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|CBS_HASSTRINGS|CBS_AUTOHSCROLL|CBS_DROPDOWNLIST,226,223,38,31
  CONTROL "",ACTIVE_RES_EDIT_TXT,"Edit",WS_CHILD|WS_VISIBLE,302,37,41,8,WS_EX_CLIENTEDGE
  CONTROL "Use Search # (Enter Key)",RESULTS_SEACH_NUM_LBL,"Static",WS_CHILD|WS_VISIBLE,13,223,80,8
  CONTROL "",RESULTS_SEARCH_NUM_CMB,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_HASSTRINGS|CBS_DROPDOWNLIST,97,223,30,25
END

